<%- include('./partials/header') %>
<style>
    body {
        background-image: url('1.jpg');
    }
</style>

<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container">
        <a class="navbar-brand text-white" href="/">TodoApp</a>
        <div style="width: 32px; height: 32px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path
                    d="M184.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L39 113c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L39 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM256 96c0-17.7 14.3-32 32-32H512c17.7 0 32 14.3 32 32s-14.3 32-32 32H288c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H512c17.7 0 32 14.3 32 32s-14.3 32-32 32H288c-17.7 0-32-14.3-32-32zM192 416c0-17.7 14.3-32 32-32H512c17.7 0 32 14.3 32 32s-14.3 32-32 32H224c-17.7 0-32-14.3-32-32zM80 464c-26.5 0-48-21.5-48-48s21.5-48 48-48s48 21.5 48 48s-21.5 48-48 48z" />
            </svg>
        </div>
    </div>
</nav>

<div class="container my-3 justify-content-center">
    <img src="Logo.png" alt="cok" class="d-flex mx-auto img-fluid">
    <img src="Logo_PENS.png" alt="" height="150px" width="150px" class="d-flex mx-auto img-fluid">
</div>

<div class="container">
    <form action="/add/todo" method="POST" class="d-flex mx-2">
        <input type="text" name="todo" class="form-control rounded-3 me-lg-3" placeholder="Enter Activity"
            style="background-color: #EAE0DA !important;">
        <input type="submit" value="Add List" class="btn btn-md btn-primary rounded-3">
    </form>

    <div class="container rounded-3 mt-2" style="background-color: #EAE0DA;">
        <% todo.forEach(list => { %>
        <ul class="list-group d-flex mx-2 py-2 rounded-2">
            <li class="list-group-item" style="background-color: #EAC7C7 !important;">
                <%= list.todo %>
                <a href="/delete/todo/<%= list._id %> " class="btn btn-danger btn-sm">Delete</a>
            </li>
        </ul>
        <% }) %>
    </div>
</div>
<%- include('./partials/footer') %>